@charset "utf-8";
/* CSS Document */

/* changes to correct box sizing and side scrolling. addtion of *:before and after included from Stackoverflow*/
* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Skip Link ====================== */
.skip-link{
position: absolute;
top: -80px;
left: 0;
background: #bd6807;
color: white;
padding: 8px;
z-index: 100;
}
.skip-link:focus{
top: 0;
}

/* ====================== Modal ====================== */
.modal{
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	background-color: #fdfdfd;
  width: 80%;
  max-width: 500px;
  border-radius: 0.5rem;
}
.close-btn{
  float: right;
  color: lightgray;
  font-size: 1.5rem;
  font-weight: 700;
  width: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
}
.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
  color: #000;
}
.show-modal{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-header,
.modal-form{
  text-align: center;
}
.modal-form{
  width: 100%;
}
.modal-header{
  border-bottom: 2px solid lightgray;
  background-color: #f58500
}
.modal-header h3{
  color: #fff
}
.modal-body{
  padding: 1rem;
}
.rvw-reviewer,
.rvw-rate,
.rvw-comment{
  width: 80%;
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding: 1rem;
  
}
.modal-footer{
  justify-content: center;
  border-top: 1px solid lightgray;
  padding: 1rem;
}
.submit-btn{
  background-color: #f58500;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin: 5px;
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 5px;
}

/* ====================== Navigation ====================== */
nav {
  max-width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: 100%;*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #0c334e;
}
.filter-selects {
  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 15px;
  text-align: center
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0px 10px 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center

}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 5px 25px;
  /*text-align: left;*/
  min-width: 270px;
  max-width: 330px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 10px 0 0 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list li h3 {
  white-space: nowrap;
}
#restaurants-list li .rest-header button {
  max-width: 25px;
  margin-left: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li .submit-btn {
  background-color: #f58500;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.rest-header {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

/* ====================== Restaurant Details ====================== */
/* .inside header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
} */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 250px;
 /*  position: fixed;
  right: 0;
  top: 80px;
  width: 50%; */
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/*
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 95.8%;
}
*/
#restaurant-name {
  color: #bd6807;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img-container{
  text-align: center
}
#restaurant-img {
	max-width: 100%;
}
#restaurant-address {
  font-size: 16pt;
  margin: 10px 0px;
  font-weight: bold;
}
#restaurant-hours {
  margin: 0 auto;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	/*width: 90%;*/
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 40px 30px;
}
#reviews-container {
  padding: 30px 40px 80px;
  width: 100%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 95%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* small tablets: 400px - 759px*/
@media only screen and (min-width: 665px) {
  #restaurants-list li {
    max-width: 40%;
  }
}

/* large screen: 1100px+ */ 
@media only screen and (min-width: 1100px) {
  #restaurants-list li {
    max-width: 300px;
  }
}